
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; 
    padding: 0;
    margin: 0;
}

body{
    color: #263138;
    
}


header{
    background-color: #6cd0ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;

}
header a{
    color: #ffff;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}
#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}
h1, h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
    
}
.sinais{
    background-size: cover;
    text-align: center;
    padding: 20px;
    margin: 10px;
    
}
ul{
    text-align: justify;
}
.paragrafo{
    line-height: 150%;
    margin-bottom: 32px;
}
.botao{
    background-color: #ff725e;
    padding: 16px 32px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
.botao-transparente{
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px;
}
.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}


.info{
    text-align: center;
}
.duvidas{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}
.duvida{
    position: relative;
    
}
.duv {
    background: #6cd0ff;
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
  
}



.duvida h3{
    border: 2px solid #ff725e;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}
.duvida img{
    position: absolute;
    top: 32px;
    right: 34px;


}
.duvida .paragrafo{
    border-right: 1px solid #ff725e;
    border-bottom: 1px solid #ff725e;
    border-left: 1px solid #ff725e;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding:  0 24px;
    /*height: 0;*/
    opacity: 0;
    overflow: hidden;
    

}
.duvida.ativa .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 24px;

}
footer{
    background-color: #6cd0ff;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}
footer img, footer .titulo{
    
    display: block;
    font-weight: 600;
    margin-bottom: 24px;

}
footer nav a {
    color: white;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    max-width: 350px;
}
footer p {
    margin-bottom: 16px;
}
footer p a {
    color:white;
    text-decoration: none;
}

.copyright {
    background-color:#263138;
    padding: 24px;
    text-align: center;
    color: white;
}

.copyright a {
    color: #ec5b18;
}